<html>
<head>
<title>Main IVLE Forum Page</title>
</head>
<body>

<link type="text/css" href="./css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="Stylesheet" />	
<script src="jquery-1.7.1.min.js"></script>
<script src="jquery-ui-1.8.17.custom.min.js"></script>


<p id="greeting_text"></p>
<script>
var username = "RICHARD JOHN PAUL GOULTER";
document.getElementById("greeting_text").innerHTML = "Welcome " + username + ".";
</script>

<div id="forum_div">
</div>

<div id="forum_post_div"></div>

<!-- For jQueryUI Tabs. -->
<script>
//Hardcoded Module objects. To be replaced by template.
var modules = [{"CourseCode": "CS1010R", ID: "a890a93c-22b2-42d1-8477-20204a3d1317"},
				{"CourseCode": "CS2020", ID: "7d54f5c5-e147-4f3d-9b7f-931fcca9060d"},
				{"CourseCode": "CS3234", ID: "b5eae887-f9b2-443e-af0b-b8fcd1aec34f"},
				{"CourseCode": "GEM1004", ID: "d0b1bc5e-88d2-4bdc-8979-775762c7a667"},
				{"CourseCode": "IS1103", ID: "99f4d934-4b2b-4228-8bae-d6b77b25d550"},
				{"CourseCode": "ST2334", ID: "2ae73642-83f7-4002-bc35-0e2d4ca1f433"}];

function getStyleHeight(elem){
	if(!elem.style.height) return 0;
	return +/(\d+)/.exec(elem.style.height)[1];
}

function addToStyleHeight(elem, val){
	elem.style.height = getStyleHeight(elem) + val;
}

function isAccordionDiv(elem){
    return elem.tagName.toLowerCase() === "div" && elem.className.indexOf("accordion") === 0;
}
</script>

<script>
function makeDumbThreads(num){
    var tmp = []
    for(var i = 0; i < num; i++)
        tmp.push(makeDumbThread());
    return tmp;
}

//For each tab div.
function makeDumbThread(){
    //Give it a long enough value and you'll have Shakespeare
    function randomString(length){
        if(length < 2)
            return "abcdefghijklmnopqrstuvwxyz,. "[Math.floor(Math.random() * 29)];
        else
            return randomString(1) + randomString(length - 1);
    }
    
    var obj = {postbody: randomString(100), posttitle: "Thread title", postdate: "date when this was posted", poster: {Name: "John Brown"}, threads: []};
    if(Math.random() < 0.2){
        obj.threads = makeDumbThreads(Math.floor(Math.random()*2)+1);
    }
    return obj;
}

var forum = {title: "A Forum for a Module",
             headings: [{title: "A Heading for a Forum", threads: []},
                        {title: "A Second Heading for a Forum", threads: makeDumbThreads(10)}]};



<!-- Show Forum Posts -->

function updateUIForForum(forum){
    var div = document.getElementById("forum_post_div");
    
    div.innerHTML = "";
    //div.innerHTML = "Forum:" + forum.title;
    addModuleForumViewToElement(div, forum);
}

function addModuleForumViewToElement(div, forum){
    
    var title = document.createElement("h2");
    title.innerText = forum.title;
    div.appendChild(title);
    
    for(var i = 0; i < forum.headings.length; i++){
        var heading = forum.headings[i];
        
        //Make a single-category jQueryUI accordion for each heading.
        var accordionDiv = document.createElement("div");
        var headingID = forum.title + "-" + heading.title + i + "-accordion";
        accordionDiv.id = headingID;
        accordionDiv.className = "accordion";
        
        var headingTitle = document.createElement("h3");
        var a = document.createElement("a");
        a.href = "#";
        headingTitle.appendChild(a);
        a.appendChild(createHeadingTitleElement(heading));
        createHeadingTitleElement(heading);
        accordionDiv.appendChild(headingTitle);
        
        var headingPreviewDiv = document.createElement("div");
        addThreadsToElement(headingPreviewDiv, heading.threads, 0);
        headingPreviewDiv.id = headingID + "-preview-div";
        accordionDiv.appendChild(headingPreviewDiv);
        
        div.appendChild(accordionDiv);
        //div.appendChild(document.createElement("br"));
    }
    $( ".accordion" ).accordion({
        collapsible: true
    });
}



function createHeadingTitleElement(heading){
    var div = document.createElement("div");
    div.style.width = "100%";
    
    var left = document.createElement("span");
    left.style.float = "left";
    left.innerHTML = heading.title;
    div.appendChild(left);
    
    var right = document.createElement("span");
    right.style.float = "right";
    right.style.fontSize = "80%";
    div.appendChild(right);
    
    var newThreadBtn = document.createElement("button");
    newThreadBtn.innerText = "New Thread";
    newThreadBtn.addEventListener("mousedown", function(){ show_new_thread_dialog(); console.log("ACTION: New Thread.D"); return false; }, false);
    newThreadBtn.addEventListener("mouseup", function(){ console.log("ACTION: New Thread.U"); return false; }, false);
    right.appendChild(newThreadBtn);
    var tmp = document.createElement("div");
    tmp.style.clear = "both";
    div.appendChild(tmp);
    return div;
}



function addThreadsToElement(div, threads, indentLevel){
    for(var i = 0; i < threads.length; i++){
        addThreadToElement(div, threads[i], indentLevel);
    }
}



function addThreadToElement(div, thread, indentLevel){
    //{postbody: randomString(100), posttitle: "Thread title", postdate: "date when this was posted", poster: {Name: "John Brown"}, threads: []};
    
    //Again, use an accordion. Though I hope this doesn't look daft.
    var accordionDiv = document.createElement("div");
    accordionDiv.className = "accordion";
    accordionDiv.id = "accordion_" + thread.title + indentLevel;
    
    var postTitle = document.createElement("h3");
    postTitle.innerHTML = "<a href=\"#\">" + makeThreadHTMLTitleStr(thread) + "</a>";
    accordionDiv.appendChild(postTitle);
    
    var postPreviewDiv = document.createElement("div");
    postPreviewDiv.innerHTML = thread.postbody; // "<p>" +  + "</p>";
    
    postPreviewDiv.onclick = function(){
        ensureReplyDiv(postPreviewDiv);
    }
    
    for(var i = 0; i < thread.threads.length; i++){
        addThreadsToElement(postPreviewDiv, thread.threads, indentLevel + 1);
    }
    
    accordionDiv.appendChild(postPreviewDiv);
    
    div.appendChild(accordionDiv);
}

function makeThreadHTMLTitleStr(thread){
    return thread.posttitle + " - <span style='color: black;'>posted by " + thread.poster.Name + "</span><br>" + 
           "<i style='font-size: 50%;'>posted on " + thread.postdate + ".</i>";
}

</script>

<!-- For jQuery UIs -->
<script>


//Generate tabs
(function (){
  var div = document.getElementById("forum_div");
  var tabs_id = "module-tabs";
  
  var tabsDiv = document.createElement("div");
  tabsDiv.id = tabs_id;
  
  var ul = document.createElement("ul");
  tabsDiv.appendChild(ul);
  
  for(var i = 0; i < modules.length; i++){
    var module = modules[i];
    var module_id = tabsDiv.id + "-" + (i+1);
    
    var li = document.createElement("li");
    var a = document.createElement("a");
    a.href = "#" + module_id;
    
    a.innerHTML = module["CourseCode"];
    li.appendChild(a);
    ul.appendChild(li); //append to ul tag.
        
    var moduleDiv = document.createElement("div");
    moduleDiv.id = module_id;
    moduleDiv.innerHTML = "ID: " + module["ID"] + "<br>";
    
    //addModuleForumViewToElement(moduleDiv, module);
    a.onclick = (function(f){ return function(){
        return updateUIForForum(f);
    }; })((module.forums && module.forums[0]) || forum);//module.forums[0]
    
    tabsDiv.appendChild(moduleDiv);
  }
  
  div.appendChild(tabsDiv);
  
  //Ignores if user starts at a different link
  updateUIForForum((modules[0].forums && modules[0].forums[0]) || forum);
  
$(function() {
  $( "#" + tabs_id ).tabs({
            collapsible: true
        });
  });
  
// $( "#" + tabs_id ).bind( "tabsselect", function(event, ui) {
  // var div = ui.panel;
  // updateForumForModule(div);
// });
  
})();
</script>

<script>
$(function() {
	$( ".accordion" ).accordion({
		collapsible: true
	});
});

$(function() {
        $( "button").button();
    });
</script>


<script>
function makeReplyDiv(){
    var div = document.createElement("div");
    div.id = "reply_div";
    div.style.verticalAlign = "top";
    div.innerHTML = "Reply:";
    
    var text = document.createElement("textarea");
    text.id = "reply_div_input";
    text.rows = 3;
    text.cols = 75;
    div.appendChild(text);
    
    var postBtn = document.createElement("input");
    postBtn.type = "button";
    postBtn.value = "Reply";
    
    postBtn.onclick = function(){ console.log(text.value); };
    
    div.appendChild(postBtn);
    
    return div;
}

function hasReplyDiv(parent){
    for(var i = 0; i < parent.children.length; i++){
        if(parent.children[i].id === "reply_div"){
            return true;
        }
    }
    return false;
}

function ensureReplyDiv(parent){
    if(!hasReplyDiv(parent)){
        console.log("Make new reply div");
        var d = makeReplyDiv()
        for(var i = 0; i < parent.children.length; i++){
            if(isAccordionDiv(parent.children[i])){
                parent.insertBefore(d, parent.children[i]);
            }
        }
        if(i === parent.children.length)
            parent.appendChild(d);
        addToStyleHeight(parent, d.offsetHeight);
        // addToStyleHeight(parent.parentElement, d.offsetHeight);
    } else {
        console.log("No need to make new reply div");
    }
}


function show_new_thread_dialog(){
    $( "#dialog-form" ).dialog( "open" );
}

function post_new_thread(title, content){
    console.log("POSTING NEW THREAD: " + title + ", CONTENT:" + content);
}
</script>

<div id="dialog-form" title="Post New Thread">
    <!--<p class="validateTips">All form fields are required.</p>-->

    <form>
    <fieldset>
        <table>
        <tr><td><label for="title">Title</label></td>
            <td><input type="text" name="title" id="title" size="60" class="text ui-widget-content ui-corner-all" /></td></tr>
        <tr><td valign="top"><label for="postcontent">Post:</label></td>
            <td><textarea name="postcontent" rows="10" cols="60" id="postcontent" class="text ui-widget-content ui-corner-all"></textarea></td></tr>
    </fieldset>
    </form>
</div>

<script>
$( "#dialog-form" ).dialog({
    autoOpen: false,
    height: 445,
    width: 580,
    modal: true,
    buttons: {
        "Post New Thread": function() {
            post_new_thread($("#text").val(), $("#postcontent").val());
            $( this ).dialog( "close" );
        },
        Cancel: function() {
            $( this ).dialog( "close" );
        }
    },
    close: function() {
        allFields.val( "" ).removeClass( "ui-state-error" );
    }
});
</script>

</body>
</html>