<html>
<head>
<title>Main IVLE Forum Page</title>
</head>
<body>

<link type="text/css" href="./css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="Stylesheet" />	
<script src="jquery-1.7.1.min.js"></script>
<script src="jquery-ui-1.8.17.custom.min.js"></script>

<script>var temporary_variable_in_parent_frame = "Yes!"; </script>


<p id="greeting_text"></p>
<script>
var username = "RICHARD JOHN PAUL GOULTER";
document.getElementById("greeting_text").innerHTML = "Welcome " + username + ".";
</script>

<div id="forum_div">
</div>

<script>
function makeDumbThreads(num){
	var tmp = []
	for(var i = 0; i < num; i++)
		tmp.push(makeDumbThread());
	return tmp;
}

//For each tab div.
function makeDumbThread(){
	//Give it a long enough value and you'll have Shakespeare
	function randomString(length){
		if(length < 2)
			return "abcdefghijklmnopqrstuvwxyz,. "[Math.floor(Math.random() * 29)];
		else
			return randomString(1) + randomString(length - 1);
	}
	
	var obj = {postbody: randomString(100), posttitle: "Thread title", postdate: "date when this was posted", poster: {Name: "John Brown"}, threads: []};
	if(Math.random() < 0.2){
		obj.threads = makeDumbThreads(Math.floor(Math.random()*2)+1);
	}
	return obj;
}

var forum = {title: "A Forum for a Module",
			 headings: [{title: "A Heading for a Forum", threads: []},
						{title: "A Second Heading for a Forum", threads: makeDumbThreads(10)}]};

function addModuleForumViewToElement(div, module){
	if(!module.forum) module.forum = forum;
	
	var title = document.createElement("h2");
	title.innerText = module.forum.title;
	div.appendChild(title);
	
	for(var i = 0; i < module.forum.headings.length; i++){
		var heading = module.forum.headings[i];
		
		//Make a single-category jQueryUI accordion for each heading.
		var accordionDiv = document.createElement("div");
		var headingID = module["CourseCode"] + "-" + forum.title + "-" + heading.title + i + "-accordion";
		accordionDiv.id = headingID;
		accordionDiv.className = "accordion";
		
		var headingTitle = document.createElement("h3");
		headingTitle.innerHTML = "<a href=\"#\">" + heading.title + "</a>";
		accordionDiv.appendChild(headingTitle);
		
		var headingPreviewDiv = document.createElement("div");
		//headingPreviewDiv.innerHTML = "<p>" + module["CourseCode"] + " Some placeholding HTML. :-) </p>";
		addThreadsToElement(headingPreviewDiv, heading.threads, 0);
		headingPreviewDiv.id = headingID + "-preview-div";
		headingPreviewDiv.style.height = 100;
		accordionDiv.appendChild(headingPreviewDiv);
		
		div.appendChild(accordionDiv);
		//div.appendChild(document.createElement("br"));
	}
}



function addThreadsToElement(div, threads, indentLevel){
	for(var i = 0; i < threads.length; i++){
		addThreadToElement(div, threads[i], indentLevel);
	}
}



function addThreadToElement(div, thread, indentLevel){
	//{postbody: randomString(100), posttitle: "Thread title", postdate: "date when this was posted", poster: {Name: "John Brown"}, threads: []};
	
	//Again, use an accordion. Though I hope this doesn't look daft.
	var accordionDiv = document.createElement("div");
	accordionDiv.className = "accordion";
	
	var postTitle = document.createElement("h3");
	postTitle.innerHTML = "<a href=\"#\">" + thread.posttitle + "</a>";
	accordionDiv.appendChild(postTitle);
	
	var postPreviewDiv = document.createElement("div");
	postPreviewDiv.innerHTML = thread.postbody; // "<p>" +  + "</p>";
	for(var i = 0; i < thread.threads.length; i++){
		addThreadsToElement(postPreviewDiv, thread.threads, indentLevel + 1);
	}
	
	accordionDiv.appendChild(postPreviewDiv);
	
	div.appendChild(accordionDiv);
}

</script>

<!-- For jQueryUI Tabs. -->
<script>
//Hardcoded Module objects. To be replaced by template.
var modules = [{"CourseCode": "CS1010R", ID: "a890a93c-22b2-42d1-8477-20204a3d1317"},
				{"CourseCode": "CS2020", ID: "7d54f5c5-e147-4f3d-9b7f-931fcca9060d"},
				{"CourseCode": "CS3234", ID: "b5eae887-f9b2-443e-af0b-b8fcd1aec34f"},
				{"CourseCode": "GEM1004", ID: "d0b1bc5e-88d2-4bdc-8979-775762c7a667"},
				{"CourseCode": "IS1103", ID: "99f4d934-4b2b-4228-8bae-d6b77b25d550"},
				{"CourseCode": "ST2334", ID: "2ae73642-83f7-4002-bc35-0e2d4ca1f433"}];

//Generate tabs
(function (){
  var div = document.getElementById("forum_div");
  var tabs_id = "module-tabs";
  
  var tabsDiv = document.createElement("div");
  tabsDiv.id = tabs_id;
  
  var ul = document.createElement("ul");
  tabsDiv.appendChild(ul);
  
  for(var i = 0; i < modules.length; i++){
	var module = modules[i];
	var module_id = tabs_id + "-" + (i+1);
	var li = document.createElement("li");
	var a = document.createElement("a");
	a.href = "#" + module_id;
	a.innerHTML = module["CourseCode"];
	li.appendChild(a);
	ul.appendChild(li);
	
	var moduleDiv = document.createElement("div");
	moduleDiv.id = module_id;
	moduleDiv.innerHTML = "ID: " + module["ID"] + "<br>";
	
	addModuleForumViewToElement(moduleDiv, module);
	
	tabsDiv.appendChild(moduleDiv);
  }
  
  div.appendChild(tabsDiv);
  
  
$(function() {
  $( "#" + tabs_id ).tabs();
  });
  
$( "#" + tabs_id ).bind( "tabsselect", function(event, ui) {
  var div = ui.panel;
  
  for(var i = 0; i < div.children.length; i++){
    if(div.children[i].className.indexOf("accordion") >= 0){
		var accordion = div.children[i];
		
		console.log("style height:"+ accordion.children[1].style.height);
		if(+/(\d+)/.exec(accordion.children[1].style.height)[1] < 1){
			accordion.children[1].style.height = 57; //ARBITRARY..
		}
	}
  }
});
  
})();
</script>

	<script>
	$(function() {
		$( ".accordion" ).accordion({
			collapsible: true
		});
	});
	</script>
</body>
</html>